<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>经验</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PHP初级开发工程师</h3>
                            <div class="time">2016 - 至今</div>
                        </div><!--//upper-row-->
                        <div class="company">杭州晖硕信息技术有限公司, 浙江杭州</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>这是一家外包兼产品公司，产品是生意佳平台，我的工作职责是负责外包项目的报价以及外包项目的开发，主要使用CI框架和TP框架。这是人生的第二家公司，也是比较不幸的一次工作，入职2个月之后技术总监离职，并带走了一大批的技术员。只留下我们刚入职的同事，当时剩下5个PHP，走到现在也仅剩3个。自学Laravel框架，使用Ubuntu编程</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PHP微信开发者</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">温州易邻信息科技有限公司, 浙江温州</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>这段工作经验让我提升很大，从工作室到公司，角色的转变。能够熟练的使用TP框架，简单的使用Linux服务器以及命令，在服务器上搭建LNMPA环境。对于投票活动的开发也是越来越顺手。也接触了很多的活动类项目，大转盘，刮刮乐，流量红包，微信的接口，微信支付等。</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PHP实习生</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">浙江工贸职业技术学院, 浙江温州</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>这是一段在学校工作室的实习的经验，对我的人生帮助很大。大二的时候脑子一热跟着老师去做项目，开始接触PHP，也是入了这个坑，第一个项目是乐清移动的业务预约登记活动，主要是针对移动用户在微信端的线上预约系统。包括有宽带预约，流量包，飞享套餐等。在这一年印象最深的就是在双十二的微信活动，和几个投票活动，由于人数过多导致出现的并发问题。当时的处理方式，提高服务器性能，把SQL写成存储过程。</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
