<section class="section projects-section">
<h2 class="section-title"><i class="fa fa-archive"></i>项目</h2>
<div class="intro">
    <p>仅仅展示最近工作项目</p>
</div><!--//intro-->
<div class="item">
    <span class="project-title">
        <a href="#">的的点餐（暂定）</a>
    </span> -
    <span class="project-tagline">这是一个订餐项目，主要是由商户入驻平台，线上扫码点餐，线上使用支付宝，微信付款。</span>
</div>
<!-- <div class="item">
    <span class="project-title"><a href="#hook">澳游公寓渡假酒店</a></span> -
    <span class="project-tagline">一个酒店预订系统，主要是由业主，会员，平台。业主上架酒店，会员预订，平台获取佣金。以及其他线上的商城和旅游服务。</span>
</div>
<div class="item">
    <span class="project-title"><a href="#" target="_blank">久数商城商圈模块</a></span> -
    <span class="project-tagline">一个商城系统，主要是一个兑换系统，我主要做的是一个附近商圈，酒店预订，以及线上买单功能开发。 </span>
</div>
<div class="item">
    <span class="project-title"><a href="#" target="_blank">华数社区作业模块</a></span> -
    <span class="project-tagline">一个社区项目，主要是做一个作业的分板块的上传，用户可以点赞，评论，收藏，赞赏等功能。</span>
</div>
<div class="item">
    <span class="project-title"><a href="#" target="_blank">安妍秀代理商系统</a></span> -
    <span class="project-tagline">一个代理商的管理系统，主要针对代理商的管理，商品根据代理商的代理等级不同而不同，实现代理商之间的收益关系。</span>
</div>
<div class="item">
    <span class="project-title"><a href="#" target="_blank">乐值网项目</a></span> -
    <span class="project-tagline">一个商城系统，我主要是做一些功能的新增和修改。</span>
</div> -->
</section><!--//section-->
