<section class="skills-section section">
<h2 class="section-title"><i class="fa fa-rocket"></i>技能和熟练程度</h2>
<div class="skillset">
    <div class="item">
        <h3 class="level-title">PHP &amp; Laravel &amp; ThinkPHP</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
        </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">MySQL &amp; MongoDB &amp; Redis</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="60%">
            </div>
        </div>
        <!--//level-bar-->
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">HTML5 &amp; CSS &amp; Javascript</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="80%">
            </div>
        </div><!--//level-bar-->
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">Vue &amp; React</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
        </div>
        <!--//level-bar-->
    </div><!--//item-->

    <div class="item">
        <h3 class="level-title">LNMPA &amp; RabbitMQ &amp; Docker</h3>
        <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
        </div>
        <!--//level-bar-->
    </div><!--//item-->

</div>
</section><!--//skills-section-->
